{% extends 'base.html' %}{%  block content  %}


<h1 style="text-align: center;" class="head1">Depression Classifier </h1>
<div class="para" style="justify-content: center;">
    <p>Boy ate in bad way of eating, poor boy ate and drink water, he was now filled. 
        He raised his head there was no one who gave him food. The poor boy was worry about the bill, 
        he had not money to pay the bill he starts standing by the by surreptitiously but manager called him “come here!</p>
    <p>His heart was beating fast he stand he thinks that he is imminent danger, manager will beat him and ask about 
        the bill who did not payed. He goes and stands at the front of manager. Manager looked deep and asks about parents.
         Poor boy lost his parents in a accident and he lives his grandmother who was too ill.</p>

</div>
<h2 style="text-align: center;" >Classified Emotion is: {{output}}</h2>
<style>
    .para{
        padding-top: 20px;
        padding-left: 200px;
        padding-right: 200px;
        padding-bottom: 60px;
    }
    p{
        font-size: large;
    }
    .head1{
        padding-top: 30px;
        color: rgb(255,255,255);

    }
</style>
<div style="justify-content: center; display: flex; margin-top: 30px;"><img src="{{ url_for('video') }}"></div>


{% endblock %}
